@font-face {
  font-family:treasure;
  src: url('../static/fonts/Treamd.ttf');
}

@font-face {
  font-family:tallys;
  src: url('../static/fonts/Tallys_15.otf');
}

body {
  background-image: url('../static/images/style/croppedpaper.jpg');
  /* Just in case no image is supported, we default to an ugly olive to convice them to switch browsers: */
  background-color:#808000;
}

hr {
  height:1em;
  border:0;
  background: url('../static/images/style/hr.png');
}

h1 {
  font-family:treasure;
  font-size:5em;
  color: rgb(96,75,53);
  text-align:center;
}

p  {
  font-family:tallys;
  font-size:1em; 
  padding:5px;
}

#container {
  width:1000px;
  height:600px;
  margin:auto;
  border:5px black dashed;
  /* background-image: url('../static/images/style/croppedpaper.jpg'); */
}

#map {
  width:500px;
  float:left;
  height:100%;
  background-color: #CCCCFF;
}

#bigimage {

  height:300px;

}
/*
#compassCanvas {
  width:100px;
  height:100px;
}
*/

/* Button stuff adapted from http://webdesignerwall.com/tutorials/css3-gradient-buttons */
.storyButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .3em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.storyButton:hover {
  text-decoration: none;
}

.storyButton:active {
  position:relative;
  top: 1px;
}

.storyButton {
  color: #fef4e9;
  border: solid 1px #5a481e;
  background: #d1b473;
  background: -webkit-gradient(linear, left top, left bottom, from(#c4a04d), to(#745c26));
  background: -moz-linear-gradient(top,  #c4a04d,  #745c26);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4a04d', endColorstr='#745c26');
}
.storyButton:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#b48f3c), to(#9a7b33));
  background: -moz-linear-gradient(top,  #b48f3c,  #9a7b33);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b48f3c', endColorstr='#9a7b33');
}
.storyButton:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#745c26), to(#c4a04d));
  background: -moz-linear-gradient(top,  #745c26,  #c4a04d);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#745c26', endColorstr='#c4a04d');
}

.battleButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .3em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.battleButton:hover {
  text-decoration: none;
}

.battleButton:active {
  position:relative;
  top: 1px;
}

.battleButton {
  color: #fef4e9;
  border: solid 1px #5a481e;
  background: #d1b473;
  background: -webkit-gradient(linear, left top, left bottom, from(#c4a04d), to(#745c26));
  background: -moz-linear-gradient(top,  #c4a04d,  #745c26);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4a04d', endColorstr='#745c26');
}
.battleButton:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#b48f3c), to(#9a7b33));
  background: -moz-linear-gradient(top,  #b48f3c,  #9a7b33);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b48f3c', endColorstr='#9a7b33');
}
.battleButton:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#745c26), to(#c4a04d));
  background: -moz-linear-gradient(top,  #745c26,  #c4a04d);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#745c26', endColorstr='#c4a04d');
}

.storeButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .3em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

.storeButton:hover {
  text-decoration: none;
}

.storeButton:active {
  position:relative;
  top: 1px;
}

.storeButton {
  color: #fef4e9;
  border: solid 1px #5a481e;
  background: #d1b473;
  background: -webkit-gradient(linear, left top, left bottom, from(#c4a04d), to(#745c26));
  background: -moz-linear-gradient(top,  #c4a04d,  #745c26);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4a04d', endColorstr='#745c26');
}
.storeButton:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#b48f3c), to(#9a7b33));
  background: -moz-linear-gradient(top,  #b48f3c,  #9a7b33);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b48f3c', endColorstr='#9a7b33');
}
.storeButton:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#745c26), to(#c4a04d));
  background: -moz-linear-gradient(top,  #745c26,  #c4a04d);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#745c26', endColorstr='#c4a04d');
}

#goOnButton {
  display: inline-block;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  padding: .3em;
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  -webkit-border-radius: .5em;
  -moz-border-radius: .5em;
  border-radius: .5em;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
}

#goOnButton:hover {
  text-decoration: none;
}

#goOnButton:active {
  position:relative;
  top: 1px;
}

#goOnButton {
  color: #fef4e9;
  border: solid 1px #5a481e;
  background: #d1b473;
  background: -webkit-gradient(linear, left top, left bottom, from(#c4a04d), to(#745c26));
  background: -moz-linear-gradient(top,  #c4a04d,  #745c26);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c4a04d', endColorstr='#745c26');
}
#goOnButton:hover {
  background: #f47c20;
  background: -webkit-gradient(linear, left top, left bottom, from(#b48f3c), to(#9a7b33));
  background: -moz-linear-gradient(top,  #b48f3c,  #9a7b33);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#b48f3c', endColorstr='#9a7b33');
}
#goOnButton:active {
  color: #fcd3a5;
  background: -webkit-gradient(linear, left top, left bottom, from(#745c26), to(#c4a04d));
  background: -moz-linear-gradient(top,  #745c26,  #c4a04d);
  filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#745c26', endColorstr='#c4a04d');
}


#informationContainer {
  font-family:tallys;
  float: right;
  height:100%;
  width:500px;
  margin: auto; /*Whatever, I'll fix this later.*/
  text-align: center;
  background-color: rgba(0,0,0.5);


}

#infoPane {
  font-size:20px;
}


#buttonBox {

}

#titlebox {
  height:40px;
  width: 460px;
  margin: auto;
  padding: 5px;
  background-image: url('../static/images/style/TitleBgr.png');
  font-size: 20px;
}


#messageBox {
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
  font-size: 17px;
  font-family:tallys;
  background-image: url('../static/images/style/MessageBg.png');
  padding: 5px;
  width:460px;
  height:150px;
  margin: auto;
}

/*doesn't quite work yet*/
input[disabled], textarea[disabled], button[disabled] {
  color: black;
}